.bgm {
  position: relative;
  min-height: 100vh;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url(/src/Assets/bh6.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.welcome {
  position: absolute;
  top: 60%;
  left: 8%;
  margin: 1em;
  /* transform: translate(-50%, -50%); */
}
.welcome .greet {
  border-radius: 0.2em;
  background-color: rgba(76, 87, 103, 1);
  font-size: 2.5em;
  font-weight: bolder;
  padding: 0.5em;
  color: white;
  width: auto;
}
.welcome .desc {
  border-radius: 0.2em;
  box-shadow: 0px -5px 20px rgba(0, 0, 0, 0.4);
  background-color: white;
  padding: 1em;
}
@media (max-width:1080px){
  .welcome{
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: 0;
    padding: 0;
    width: 80vw;
  }
}
