.about {
  padding-top: 5em;
  max-width: 1020px;
  margin: auto;
  margin-bottom: -3em;
}
.about .heading {
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
}
.about .container {
  margin-top: 1em;
  display: flex;
  /* flex-direction: column; */
}
.about .desc {
  font-size: 1.1em;
  line-height: 1.5em;
}
.about img {
  max-width: 40vw;
  height: auto;
  margin-left: 2em;
}
@media (max-width: 1080px) {
  .about img {
    width: auto;
    max-height: 70vh;
    margin: 2em;
    margin-top: 0%;
  }
  .about .heading {
    margin: 1em;
    margin-bottom: 0;
    margin-top: 0;
  }
  .about .desc {
    margin: 2em;
    margin-top: 0;
  }
}
@media (max-width: 768px) {
  .about {
    padding-top: 10em;
  }
  .about .container {
    flex-direction: column-reverse;
  }
  .about img {
    width: auto;
    max-height: 70vh;
    margin: 2em;
    margin-top: 0%;
  }
  .about .heading {
    margin: 1em;
    margin-bottom: 0;
    margin-top: 0;
  }
  .about .desc {
    margin: 2em;
    margin-top: 0;
  }
}
