/* Main Outer Container of OurGallery*/
.ourGallery__container {
  background-color: #eff2f5;
}

.ourGallery__content {
  max-width: 1440px;
  padding: 2em;
  padding-right: 0;
  margin: 0 auto;
}

.ourGallery__heading {
  font-size: 1.75em;
  font-weight: 700;
}

.ourGallery__carousel {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow-x: scroll;
  overflow-y: none;
  width: 100%;
  margin-top: 1em;
  padding-bottom: 1em;
}

.ourGallery__carousel::-webkit-scrollbar {
  background-color: transparent;
  height: 0.5em;
}

.ourGallery__carousel::-webkit-scrollbar-thumb {
  background-color: rgba(185, 185, 185, 0.8);
  border-radius: 1em;
}

.ourGallery__carousel > img {
  width: 40%;
  max-height: 20em;
  aspect-ratio: intial;
  margin-right: 1em;
}

@media (max-width: 456px) {
  .ourGallery__carousel > img {
    width: 70%;
  }
}
